<!DOCTYPE html>
<html ng-app="restaurants">
  <head>
    <title>Best Restaurants</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <script src="lib/angular.js"></script>
    <script src="app.js"></script>
    <script src="js/RestaurantsController.js"></script>
  </head>
  <body>
    <div class="container" ng-controller="RestaurantsCtrl">
      <div class="row">
        <div ng-show="bestRestaurants.length" class="col-md-12">
          <h4>Search BEST Restaurants</h4>
          <form class="form-inline" role="form">
            <div class="form-group">
              <input ng-model="query" type="text" class="form-control" placeholder="Search">
            </div>

          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2 ng-show="bestRestaurants.length && filtered.length">BEST restaurants List</h2>

          <h2 ng-show="bestRestaurants.length && !filtered.length">No Matches</h2>
          <ul>
            <li ng-repeat="item in filtered = (bestRestaurants | filter:query)">
              <span ng-click="editing = true" ng-hide="editing">
                <h4><strong>{{ item.name }} </strong><a ng-click="deleteRestaurant(item)">Delete</a></h4>
              </span>
              <span class="form-group" ng-show="editing" ng-submit="editing = false">
                <form class="form-line" role="form">
                  <input type="text" class="form-control input-sm" ng-model="item.name" placeholder="Name" required />
                  <button class="btn btn-default btn-sm btn-sm" type="submit">Save</button>
                </form>
              </span>
              <ul>
                <li>Description: {{ item.description }}</li>
                <li>Price-range: <span ng-repeat="i in getNumber(item.price) track by $index"><img class="icon" src="img/money.png"></span></li>
                <li>Intimacy: <span class="fire" ng-repeat="i in getNumber(item.intimacy) track by $index"><span class="glyphicon glyphicon-fire"></span></span></li>
                <li>Sickness: <span ng-repeat="i in getNumber(item.sickness) track by $index"><img class="icon" src="img/death.png"></span></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <h3>New BEST Restaurant</h3>
          <form ng-submit="addRestaurant()" role="form">
            <div class="form-group">
              <input type="text" ng-model="restaurantName" class="form-control" placeholder="Name">
            </div>
            <div class="form-group">
              <input type="text" ng-model="restaurantDescription" class="form-control" placeholder="Describe it.">
            </div>
            <div class="form-group">
              <input type="number" ng-model="restaurantPrice" class="form-control" placeholder="$$$ (1-5)" min="1" max="5">
            </div>
            <div class="form-group">
              <input type="number" ng-model="restaurantIntimacy" class="form-control" placeholder="Intimacy (1-5)" min="1" max="5">
            </div>
            <div class="form-group">
              <input type="number" ng-model="restaurantSickScale" class="form-control" placeholder="Likelihood of Sickness (1-5)" min="1" max="5">
            </div>
            <button type="submit" class="btn btn-danger">Add BEST restaurant</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
